<nav>
  <sb-nav-item title="Home" external icon="boxicons/bx-home" href="#home"></sb-nav-item>
  <sb-nav-item title="Tags" external icon="boxicons/bx-tag" href="#tags"></sb-nav-item>
  <sb-nav-item title="References" external icon="boxicons/bx-library" href="#references"></sb-nav-item>
  <sl-tooltip content="Graph">
    <sl-icon-button style="font-size: 1.25rem;" library="boxicons" name="bx-network-chart"></sl-icon-button>
  </sl-tooltip>
  <sb-nav-item title="Random note" external icon="boxicons/bx-shuffle" href="#random"></sb-nav-item>
  <sb-nav-item title="Search" external icon="boxicons/bx-search" href="#search"></sb-nav-item>
</nav>
