astroid==2.4.2
attrs==20.3.0
bleach==3.3.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
climates==0.0.3
colorama==0.4.4
coverage==5.4
cryptography==3.3.1
docutils==0.16
flake8==3.8.4
frozendict==1.2
genanki==0.10.1
idna==2.10
iniconfig==1.1.1
isort==5.7.0
jeepney==0.6.0
keyring==22.0.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.6.0
mypy==0.800
mypy-extensions==0.4.3
packaging==20.9
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
pylint==2.6.0
pyparsing==2.4.7
pystache==0.5.4
pytest==6.2.2
pytest-cov==2.11.1
PyYAML==5.4.1
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.0
six==1.15.0
toml==0.10.2
tqdm==4.56.0
twine==3.3.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
