body {
  margin: 0 auto;
  max-width: 50em;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
}

pre {
  padding: 1em;
}
